@import "tailwindcss";
@config "../tailwind.config.js";

body {
  font-family: var(--font-rajdhani), ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

section {
  padding-inline: calc(var(--spacing) * 4)
}

label {
  font-weight: bold;
}

.input-style {
  @apply w-full bg-transparent border-b-2 border-[#c9184a30]  font-body
         focus:outline-none focus:border-[#c9184a94] mt-2 transition;
}

.btn-primary {
  @apply mt-6 px-6 py-2 bg-admintitle font-body  text-white font-semibold 
         rounded-lg w-fit hover:bg-[#c3355d] transition cursor-pointer;
}